*,
*::after,
*::before {
 box-sizing: border-box;
}

a {
 color: currentColor;
 text-decoration: none;

 &:active {
   outline: none;
 }
}

input, textarea {
 background: transparent;
 border: none;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

textarea {
 overflow: auto
}

button {
 cursor: pointer;
 background-color: transparent;
 border: none;
 &:disabled {
   opacity: .8;
   cursor: not-allowed;
 }
}

body {
 background: $background-clr;
 min-width: 320px;
}

.main-layout {
 padding: 0 20px;
 margin: 0 auto;
}
